@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
  }


body {
    font-family: 'Montserrat', sans-serif;
}
 
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    background: #F19839;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

header {
    height: calc(200vh - 150px);
    background: no-repeat center/cover url('assests/header.avif');
}



header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

header nav p {
    font-weight: bold;
}


header nav ul {
    list-style: none;
    display: flex;
    font-weight: bold;
    
}

header nav ul li {
    margin: 0 15px
}

.header-content {
    max-width: 400px;
    margin: 150px auto;
    text-align: center;
}

.header-content h1 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.pacotes {
    background: #e5e5e5;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    position: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
}

.pacotes .pacotes-title{
    width: 100%;
    text-align: center;
    margin: auto;
}

.pacotes h1 {
    width: 100%;
    text-align: center;
}

.pacotes .card {
    width: 250px;
    height: 350px;
    background: white; 
    border-radius: 24px 0px;
    margin: 25px 25px;
    position: relative;
    position: relative;
}

.pacotes .card-image {
    width: 250px;
    height: 200px;
    border-radius: 24px 0 0 0;
    margin: auto;
}


.pacotes .card-content {
    padding: 0 15px;
}

.pacotes .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
} 

.pacotes .card-content ul li  {
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    margin: 3px 0;
    color: gray;
    font-weight: bold;

}

.pacotes .card-content li svg {
    width: 18px;
    height: 16px;
    margin-right: 10px;
}

.pacotes .card-content h1 {
    font-size: 1rem;
}

/* Etiquetas preços e tags */ 
.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #F19839;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}


.pacotes .card .card-tag-bottom {
    position: absolute;
    left: 0;
    top: 160px;
    background: #1D61DD;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    font-weight: bold;
}

.pacotes .card .card-tag-bottom p {
    margin: 0;
    font-weight: bold;
}

.pacotes .card .card-tag-top p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}

/* Serviços */ 

.servicos .card {
    width: 250px;
    display: flex
    justify-content: center; 
    align-items: center;
    margin: 0 20px;

}

.servicos {
    padding: 15px;
}

.servicos .servicos-cards {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    max-width: 950px;
    margin: auto;
    flex-wrap: wrap;

}

.servicos .servicos-title {
    text-align: center;
    margin: 65px 0;
    justify-content: space-between;
}

.servicos .card svg {
    width: 60px;
    height: 60px;
    margin: 60px;
    transition: all 1s;
    text-align: center;
    
}
 
.servicos .card svg:hover {
    stroke: red;
    transform: scale(1.1);
    text-align: center;
}

.servicos .card h3 {
    font-weight: bold;
    text-align: center;
}

.servicos .card p {
    color: grey
    font-size: .8rem;
    text-align: center;
    height: 180px; 

}

.servicos button {
    background: #1D61DD;
    text-align: center;
    
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }

.contato {
    padding: 60px 20%;
    background: #e1e8f7;
    position: relative;
}

.contato .contato-card {
    width: 350px;
    height: 300px;
    background: white;
    position: absolute;
    z-index: 99;

    border-radius: 8px;

    top: calc(50% - 150px);
    left: calc(20% - 175px);

    text-align: center
    display: flex;
    flex-direction: column;
    justfy-content: center; 

}


.contato .contato-card h1 {
    text-align: left;
    padding-left: 50px;
}

.contato .contato-card li {
    font-size: .8rem;
    font-weight: bold;
    color: grey;
    display: flex;
    align-items: center;
}

.contato .contato-card li svg {
    width: 16px;
    margin: 10px;
}

/*  RESPONSIVIDADE */

/* Landscape phone to portrait tablet */
@media (max-width: 767px)  {
    header {
        
    }
}

/* Landscape phone and down */
@media (max-width: 480px) {
    body {
        height: calc(100vh - 55px);
    }
    header nav ul {
       position: fixed;
       bottom: 0;
       left: 0;
       width: 100%;
       padding: 0;
       margin: 0;

       z-index: 99;

       background: #1D61DD;
       color: white;
       font-weight: bold;
       height: 55px;

       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Large desktop */
@media (min-width: 1200px) { ... }


